<div class="fadeInLoad">
  <h3 id="myInfo">Hi There, from My Virtual World! 🌍</h3>
  <div class="autoBlur">
    <div class="image-container">
      <img class="myimg" src="assests/images/mypic.jpeg" alt="Sameer Nadaf" />
    </div>
    <div class="myBio">
      <h1>
        I'am
        <span class="text-highlight">Sameer Nadaf</span>
      </h1>
      <p class="role-description">
        <span class="title-highlight">Java Full-Stack Developer</span>
      </p>
    </div>
  </div>
</div>
<myskills></myskills>
<myprojects></myprojects>
<experiance></experiance>
<myeducation></myeducation>
<mycertifications></mycertifications>
<contactme></contactme>
<myresume></myresume>
<footer class="footer bg-dark text-light text-center py-3">
  <div class="container">
    <p>© 2025 Sameer Nadaf | All Rights Reserved</p>
    <div class="social-links mylinks">
      <a href="https://github.com/sameerm14" target="_blank" class="git">
        <img
          src="assests/images/GitHub.png"
          alt="GitHub"
          width="36"
          height="36"
          class="text-white"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/sameer-nadaf-logged/"
        target="_blank"
        class="text-light mx-2"
      >
        <img
          src="assests/images/linkedin.png"
          alt="linkedin"
          width="30"
          height="29"
        />
      </a>
      <a href="mailto:sameernadaf5761@gmail.com" class="text-light mx-2">
        <img
          src="assests/images/gmail.png"
          alt="gmail"
          width="30"
          height="30"
        />
      </a>
    </div>
  </div>
</footer>
