<div>
  <h1 id="myInfo" class="autodisplay">Skills</h1>
  <div
    class="slider autoBlur"
    reverse="true"
    style="--width: 100px; --height: 143px; --quantity: 21"
  >
    <div class="list">
      <div class="item" style="--position: 1">
        <img src="assests/images/HTML5.png" alt="HTML5 Icon" />
        <span class="tooltip">HTML5</span>
      </div>
      <div class="item" style="--position: 2">
        <img src="assests/images/CSS3.png" alt="CSS3 Icon" />
        <span class="tooltip">CSS3</span>
      </div>
      <div class="item" style="--position: 3">
        <img src="assests/images/TypeScript.png" alt="TypeScript Icon" />
        <span class="tooltip">TypeScript</span>
      </div>
      <div class="item" style="--position: 4">
        <img src="assests/images/Node.png" alt="Node Icon" />
        <span class="tooltip">Node.js</span>
      </div>
      <div class="item" style="--position: 5">
        <img src="assests/images/angular.png" alt="Angular Icon" />
        <span class="tooltip">Angular</span>
      </div>
      <div class="item" style="--position: 6">
        <img src="assests/images/Bootstrap.png" alt="Bootstrap Icon" />
        <span class="tooltip">Bootstrap</span>
      </div>
      <div class="item" style="--position: 7">
        <img src="assests/images/java.png" alt="Java Icon" />
        <span class="tooltip">Java</span>
      </div>
      <div class="item" style="--position: 8">
        <img src="assests/images/Maven.png" alt="Maven Icon" />
        <span class="tooltip">Maven</span>
      </div>
      <div class="item" style="--position: 9">
        <img src="assests/images/spring.png" alt="spring Icon" />
        <span class="tooltip">Spring</span>
      </div>
      <div class="item" style="--position: 10">
        <img src="assests/images/Restapi.png" alt="Restapi Icon" />
        <span class="tooltip">REST API</span>
      </div>
      <div class="item" style="--position: 11">
        <img src="assests/images/JUnit.png" alt="Junit Icon" />
        <span class="tooltip">JUnit</span>
      </div>
      <div class="item" style="--position: 12">
        <img src="assests/images/Mysql.png" alt="Mysql Icon" />
        <span class="tooltip">MySQL</span>
      </div>
      <div class="item" style="--position: 13">
        <img src="assests/images/Hibernate.png" alt="Hibernate Icon" />
        <span class="tooltip">Hibernate</span>
      </div>
      <div class="item" style="--position: 14">
        <img src="assests/images/Kafka.png" alt="kafka Icon" />
        <span class="tooltip">Kafka</span>
      </div>
      <div class="item" style="--position: 15">
        <img src="assests/images/Dsa.png" alt="Dsa Icon" />
        <span class="tooltip">DSA</span>
      </div>
      <div class="item" style="--position: 16">
        <img src="assests/images/Aws.png" alt="Aws Icon" />
        <span class="tooltip">AWS</span>
      </div>
      <div class="item" style="--position: 17">
        <img src="assests/images/Git.png" alt="Git Icon" />
        <span class="tooltip">Git</span>
      </div>
      <div class="item" style="--position: 18">
        <img src="assests/images/Docker.png" alt="Docker Icon" />
        <span class="tooltip">Docker</span>
      </div>
      <div class="item" style="--position: 19">
        <img src="assests/images/Jira.png" alt="jira Icon" />
        <span class="tooltip">Jira</span>
      </div>
      <div class="item" style="--position: 20">
        <img src="assests/images/VsCode.png" alt="VsCode Icon" />
        <span class="tooltip">VS Code</span>
      </div>
      <div class="item" style="--position: 21">
        <img src="assests/images/intellij.png" alt="Intellij Icon" />
        <span class="tooltip">IntelliJ</span>
      </div>
    </div>
  </div>
</div>
