#myInfo {
  text-align: center;
  left: 50%;
  padding: 20px;
  color: #c0c0c0;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.autodisplay {
  animation: autoDisplayAnimation both;
  animation-timeline: view();
}

@keyframes autoDisplayAnimation {
  from {
    filter: blur(10px);
    transform: translateY(-200px) scale(0);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) scale(1);
  }
}

.slideInRight {
  animation: slideInRight both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

.autoBlur {
  animation: autoBlurAnimation linear both;
  animation-timeline: view();
  margin-bottom: 7%;
}
@keyframes autoBlurAnimation {
  0% {
    filter: blur(40px);
    opacity: 0;
  }
  25%,
  65% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(40px);
    opacity: 0;
  }
}

/* Timeline Container */
.container {
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Timeline */
.timeline {
  position: relative;
  padding: 20px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 4px;
  height: 100%;
  background: white;
  transform: translateX(-50%);
}

/* Timeline Item */
.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

/* Timeline Icon */
.timeline-icon {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Timeline Content */
.timeline-content {
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-content:hover {
  transform: translateY(-5px);
  box-shadow: 2px 1px white;
}

.timeline-content h4 {
  margin: 0 0 5px;
  color: white;
}

.timeline-content p {
  margin: 0;
  color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .timeline::before {
    left: 20px;
  }

  .timeline-item {
    width: 100%;
    left: 0 !important;
    padding-left: 50px;
    text-align: left !important;
  }

  .timeline-icon {
    left: 20px;
  }
}
