<h1 id="myInfo" class="autodisplay">Education</h1>
<div class="container my-5 autoBlur">
  <div class="row slideInRight">
    <div class="col-md-8 mx-auto">
      <div class="timeline">
        <!-- MCA -->
        <div class="timeline-item">
          <div class="timeline-icon">1</div>
          <div class="timeline-content">
            <h4>MCA - Master of Computer Applications</h4>
            <div class="text-danger">
              <strong style="color: #d4af75"
                >KLS Gogte Institute of Technology Belagavi</strong
              >
            </div>
            <div style="color: #5c6b81"><b>2022 - 2024</b></div>
          </div>
        </div>
        <!-- BCA -->
        <div class="timeline-item">
          <div class="timeline-icon">2</div>
          <div class="timeline-content">
            <h4>BCA - Bachelor of Computer Applications</h4>
            <div class="text-danger">
              <strong style="color: #d4af75"
                >SDVVS'S B.C.A. COLLEGE, SANKESHWAR</strong
              >
            </div>
            <div style="color: #5c6b81"><b>2019 - 2022</b></div>
          </div>
        </div>
        <!-- puc-->
        <div class="timeline-item">
          <div class="timeline-icon">3</div>
          <div class="timeline-content">
            <h4>Higher secondary education</h4>
            <div class="text-danger">
              <strong style="color: #d4af75"
                >SDVS Sangh's Arts, Science and Commerce P.U. College,
                Sankeshwar 591313</strong
              >
            </div>
            <div style="color: #5c6b81"><b>2016 - 2018</b></div>
          </div>
        </div>
        <!-- sslc-->
        <div class="timeline-item">
          <div class="timeline-icon">4</div>
          <div class="timeline-content">
            <h4>High School</h4>
            <div class="text-danger">
              <strong style="color: #d4af75"
                >SWAMI VIVEKANANDA HIGH SCHOOL, SANKESHWARA 591313</strong
              >
            </div>
            <div style="color: #5c6b81"><b>2006 - 2016</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
